body {
  margin: 0;
  padding: 0;
}
#game-area, #button-area{
  height: 400px;
}
#game-area {
  min-width: 800px;
  width: 98%;
  margin: 100px 10px;
  padding: 8px;
  background-image: url(assets/bg.png);
  -webkit-background-size: 300px;
  background-size: 500px;
  -webkit-animation: bgscroll 25s linear infinite;
  animation: bgscroll 25s linear infinite;
}
#button-area {
  width: 200px;
  float: left;
}
.btn {
  background: #EEE;
  border-top: 5px solid #C00;
  border-left: 5px solid #09C;
  border-right: 5px solid #9C0;
  border-bottom: 5px solid #FC0;
  color:#111;
  padding: 10px;
  margin: 10px;
  display: block;
}
#enchant-stage {
  float: left;
}
@-webkit-keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: 0 500px;}
}
@keyframes bgscroll {
  0% {background-position: 0 0;}
  100% {background-position: 0 500px;}
}
